
.idea/*
.idea/modules.xml
.idea/AgeEstimationRepo.iml
.idea/inspectionProfiles/profiles_settings.xml
training/__pycache__/dataset_tools.cpython-37.pyc
venv/*
tfrecords/train.age_detected-ids.png
tfrecords/train.age_detected.csv
tfrecords/train.age_detected.png
tfrecords/train.reduced(random)-ids.png
tfrecords/train.reduced(random).csv
tfrecords/train.reduced(random).png
tfrecords/valid.reduced(random)-ages.png
tfrecords/valid.reduced(random).csv
dataset/data/vggface2_data/train/train.reduced(random)_4.tfrecord
dataset/__pycache__/face_detector.cpython-38.pyc
tfrecords/__pycache__/image_cut_tool.cpython-38.pyc
